body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

h4.amiable {
background: linear-gradient(to right, #44cc66, #1d6a30);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #1d6a30, -2px 2px #1d6a30, -3px 3px #1d6a30, -4px 4px #1d6a30, -5px 5px #1d6a30;
  background-color: #44cc66;

}

h4.indifferent {
  background: linear-gradient(to right, #dddd22, #999918);
}

.indifferent {
  background-color: #dddd22;
  box-shadow:  -1px 1px #999918, -2px 2px #999918, -3px 3px #999918, -4px 4px #999918, -5px 5px #999918;

}

img {
  border: 5px solid #555;
}

.dubious {
  background-color: #dd4444;
  box-shadow:  -1px 1px #3f0b0b, -2px 2px #3f0b0b, -3px 3px #3f0b0b, -4px 4px #3f0b0b, -5px 5px #3f0b0b;

}
h4.dubious {
  background: linear-gradient(to right, #dd4545, #3f0b0b);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
