body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("../images/white-wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 500%;

}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #b8b816;
  box-shadow: -1px 1px  #b8b816, -2px 2px  #b8b816, -3px 3px #b8b816, -4px 4px #b8b816, -5px 5px  #b8b816;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #af2f2f;
  box-shadow: -1px 1px #af2f2f, -2px 2px #af2f2f, -3px 3px #af2f2f, -4px 4px #af2f2f, -5px 5px #af2f2f;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: 1px solid darkgray;
  box-sizing: border-box;
}

h4.amiable{
  background: linear-gradient(to right, #dd4444, #af2f2f);
}

h4.indifferent{
  background: linear-gradient(to right, #dd4444, #af2f2f);
}

h4.dubious{
  background: linear-gradient(to right, #dd4444, #af2f2f);
}
