body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("/images/white-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, gray, transparent);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #cece1c;
  box-shadow:  -1px 1px #cece1c, -2px 2px #cece1c, -3px 3px #cece1c, -4px 4px #cece1c, -5px 5px #cece1c;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #ad3535;
  box-shadow:  -1px 1px #ad3535, -2px 2px #ad3535, -3px 3px #ad3535, -4px 4px #ad3535, -5px 5px #ad3535;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: 1px solid;
  box-sizing: border-box;
}
