body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url('../images/white-wood.jpg') no-repeat fixed;
  background-size: cover;
}


.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(0.25turn, rgba(0,0,0,0.6) , rgba(0,0,0,0));
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}


.indifferent {
  background-color: #dddd22;
  box-shadow:  -1px 1px #AAAA02, -2px 2px #AAAA02, -3px 3px #AAAA02, -4px 4px #AAAA02, -5px 5px #AAAA02;
}

.dubious {
  background-color: #dd4444;
  box-shadow:  -1px 1px #AA2322, -2px 2px #AA2322, -3px 3px #AA2322, -4px 4px #AA2322, -5px 5px #AA2322;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img{
  border: 1px solid black;
}