body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

h4.amiable {
  background: linear-gradient(to right, #418b36, #73ee87);
}

.indifferent {
  border: 1px solid #bfbf11;
  box-shadow: -1px 1px #bfbf11, -2px 2px #bfbf11, -3px 3px #bfbf11, -4px 4px #bfbf11, -5px 5px #bfbf11;
  background-color: #dddd22;
}

h4.indifferent {
  background: linear-gradient(to right, #78781f, #a9a92f);
}

.dubious {
  border: 1px solid #a82222;
  box-shadow: -1px 1px #a82222, -2px 2px #a82222, -3px 3px #a82222, -4px 4px #a82222, -5px 5px #a82222;
  background-color: #dd4444;
}

h4.dubious {
  background: linear-gradient(to right, #791d11, #892215);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border-style: solid;
}
